@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    background-color: #181818;
    color: white;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Navbar Styles */
#navbar{
    background-color: #202020;
    display: grid;
    grid-template-columns: 0.75fr 1.5fr 0.75fr;
    grid-template-rows: 1fr;
    justify-items: stretch;
}

#youtube-logo{
    display: flex;
    align-items: center;
    margin-left: 20px;
}

#youtube-logo-img{
    height: 55px;
    border-radius: 5px;
}

#hamburger-menu{
    height: 25px;
    margin-right: 10px;
}

#yt-icon{
    display: flex;
    align-items: center;
}

#search-bar{
    display: grid;
    grid-template-columns: 5fr 65px;
    align-items: center;
}

#search-box-container{
    height: 26px;
    background-color: #121212;
    border: 1px solid #303030; 
    border-radius: 2px 0 0 2px;
    padding: 2px 6px;
}

#search-box-container input{
    background-color: #121212;
    border: none;
    font-family: 'Roboto','Noto',sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-left: 4px;
    max-width: 100%;
    width: 100%;
    color: #ffffffe0;
    outline: none;
}

#search-container{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff80;
    height: 26px;
    width: 51px;
    border: 1px solid #303030;
    background-color: #303030;
    border-radius: 0 2px 2px 0;
    margin: 0;
    padding: 2px 6px 2px 6px;
}

#nav-google-acc{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 25px;
}

.google-icons{
    margin-right: 30px;
    font-size: 1.2rem;
    border-radius: 50%;
    height: 30px;
    cursor: pointer;
}
/* End of Navbar Styles */
